<html>
  <head>
    <title>Team Stories</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  </head>
  <body>
   <div id="wrapper">
      <div id="header">
        <img src="/static/logo.png" style="float: left;" />
        <h1>Team Stories</h1>
        <h2 style="font-size: x-large;">=D</h2>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
