{% extends 'base.html' %}
{% block content %}
  <form method="POST">
    <h1>Start a new story</h1>
    <div>Your email: <input type="text" name="player1"/></div>
    <div>Your Nickname: <input type="text" name="player1Nick"/></div>
    <div>Email of your co-author: <input type="text" name="player2"/></div>
    <div>Nickname of your co-author: <input type="text" name="player2Nick"/></div>
    <div>Title of the story: <input type="text" name="title"/></div>
    <div>First line of the story:<textarea name="byte"></textarea></div>
    <div><input type="submit"/></div>
  </form>
{% endblock %}
